html {
  font-family: 'Rubik', sans-serif, "微軟正黑體";
}

body{
  width: 100%;
  height: 100%;
  margin:0 auto;
  
}

#header{
  width: 100%;
  background-color: #99FF4D;
  color: #008000;
  position: fixed;
}

#header div {
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}




/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #008000;
  color: #FFFFFF;
  position: fixed;
  width: 100%;
  
  top: 40px;
  text-align: center;
  font-size: 0;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer; /* 游標造型 */
  padding: 0px 12px;
  transition: 0.5s;
  color: #FFFFFF;
  font-size: 16px;
  height: 30px;
  
  font-family : inherit; /* 繼承html設定的字型 */
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #90EE90;
  color: #000000;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #FFFFFF; /* #90EE90 */
  color: #000000;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  
}






div.fixed {
  position: fixed;
  top: 70px;
  bottom: 0px;
  width: 100%;
}

.parent {
  display: flex;
  height: 100%;
}

.child {
  padding: 20px;
  line-height: 1em;
}

#aside {
  flex-basis: 5em;
  background-image: url('../images/tomato_2.jpeg');
  background-size: contain;
  
}
#section {
  flex-grow: 1;
  background-color: #FFFFFF;
  overflow: auto;
}






h2.middle-title {
  font-size: 18px;
  color: #000000;
  font-weight: bold;
  text-shadow: #8FBC8F 0.1em 0.1em 0.2em;
  font-style: italic;
}

h3.little-title {
  font-size: 16px;
  color: #000000;
  font-weight: bold;
  text-indent: 2em; /* 後退兩字元 */
}

section p {
  font-size: 14px;
  text-indent: 2em; /* 後退兩字元 */
  line-height: 1.5;
}

.thirdOrder {
  font-size: 14px;
  text-indent: 4em; /* 後退兩字元 */
  line-height: 1.5;
}

.inside {
  margin-left: 25px;
  display: flex;
  flex-direction: row;
}

.homeInfo {
  width: 500px;
}

.homeImg img {
  height: 250px; 
}

.homeImg {
  flex-grow: 1;
  
  display: flex; /* 圖片置中 */
  justify-content: center; /* 圖片置中 */
  align-items: center; /* 圖片置中 */

}

span.blue {
  color: blue;
  font-weight: bold;
}



.sampleOuter {
  margin-left: 50px;
  width: 800px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sampleInner-top {
  flex-grow: 1;
  height: 350px;
  
  display: flex;
  flex-direction: row;
}

.WH {
  margin-left: 50px;
  width: 800px;
}

.sampleInner-top img{
  height: 250px;
}

.sampleInner-topL {
  flex-grow: 1;
  /* background-color: #888888; */
  
  display: flex; /* 圖片置中 */
  justify-content: center; /* 圖片置中 */
  align-items: center; /* 圖片置中 */
}

.sampleInner-topR {
  flex-grow: 1;
  /* background-color: #AAAAAA; */
  
  display: flex; /* 圖片置中 */
  justify-content: center; /* 圖片置中 */
  align-items: center; /* 圖片置中 */
}

.sampleInner-down {
  flex-grow: 1;
  height: 350px;
  /* background-color: #EEEEEE; */
  
  display: flex; /* 圖片置中 */
  justify-content: center; /* 圖片置中 */
  align-items: center; /* 圖片置中 */
}

.sampleInner-down img{
  width: 800px;
  
}



section ul {
  font-size: 14px;
  text-indent: 4em; /* 後退四字元 */
  list-style-type: upper-roman;
  list-style-position: inside; /* 標號內縮對齊行頭 */
  line-height: 1.5;
  
  margin: 0;
  padding: 0;
}

.Parrot-parent {
  margin-left: 50px;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: row;
}

.tiny-title {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.Parrot-parent ul {
  font-size: 14px;
  text-indent: 2em;
  /* text-align: center; */
  
  display: inline-block; /* for垂直置中 */
  line-height: 1.5; /* for垂直置中 */
  /* background: #AAA; */
  vertical-align: middle; /* for垂直置中 */
}

.img {
  width: 150px;
  height: 150px;
}

.info{
  font-size: 14px;
  flex-grow: 1;
  height: 200px;
  
  line-height: 200px; /* for垂直置中 */
  display: none;
}


.Parrot-parent img {
  width: 150px;
  height: 150px;
  opacity: 0.3;
}

.Parrot-parent img:hover {
  width: 150px;
  height: 150px;
  opacity: 1.0;
}

img.active {
  opacity: 1.0;
}







